Django>=5.2,<6.0

djangorestframework
djangorestframework-simplejwt
django-filter

channels
channels-redis
daphne

gunicorn
uvicorn

psycopg2-binary
dj-database-url
shortuuid==1.0.13
django-cors-headers
whitenoise

python-dotenv