Django>=5.2,<6.0

djangorestframework
djangorestframework-simplejwt
django-filter

channels
channels-redis
daphne

gunicorn
uvicorn

psycopg2-binary
dj-database-url

django-cors-headers
whitenoise

python-dotenv